*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav>article{
    height: 80px;
    width: 90%;
    /* border: 2px solid red; */
    display: flex;
}

#nav>article>#img{
    height: 80px;
    width: 35%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 160px;
    
}
#nav>article>#img>a>img{
    height: 42px;


}

#nav>article>#bar{
    height: 80px;
    width: 65%;
    /* background-color: red; */
    /* list-style-type: none; */
    
    
}

#nav>article>#bar>ol{
    /* padding: 30px; */
    height: 80px;
    
    display: flex;
    justify-content:center;
    align-items: center;
   gap: 34px;
   padding-left: 190px;
   
    
    
    
}
#nav>article>#bar>ol>li>a{
    color: white;
    list-style-type: none;
    text-decoration: none;
    font-family:CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
    font-weight: bold;
    

    
    

}
#nav>article>#bar>ol>#i{
    color: white;
    list-style-type: none;
   font-weight:bolder;
   
}
#nav>article>#bar>ol>li>a:hover{
    color: rgb(30,215,96);
}
#home{
    height: 90vh;
    width: 100%;
    background: url(../images/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));

}

#home>img {
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 30px;
    width: 30px;
}
#home>#mobile>svg{
    height: 870px;
    width: 300px;
    float:left;
    margin-left: 240px;
    /* z-index: -1; */
    /* padding-left: 30px; */
}
#home>#mobile>img{
    height: 402px;
    width: 270px;
    margin-top: 190px;
    margin-left:-286px;
    z-index:-1;

}
#home>p{
    margin-top:-450px;
    font-size:64px;
    font-weight:bolder;
    color: white;
    font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
    padding-left: 610px;
   
}
#home>a>button{
   height: 50px;
   width: 190px;
    margin-left: 70px;
    border-radius: 30px;
    border-color: transparent;
    margin-top: 30px;
    font-weight:bolder ;
    font-size: small;
    cursor: pointer;
}
#home>a>button:hover{
    transform:scaleX(1.1);
    
}