
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}


#nav{
    height: 80px;
    width: 100%;
    color: black;
    display: flex;
    border-bottom: 2px solid white;
   background-color: rgb(33,49,60);
    justify-content: space-evenly;
    align-items: center;
   
   
}


a button{
    color: black;
    text-decoration: none;
    font-weight:600;
}

#nav a button{
    height: 38px;
    width: 150px;
    border: 1.3px solid white;
    background-color: lime;
    transition: all .2s ease-in-out;
    cursor: pointer;
    font-weight:800;
    border-radius: 4px;
}

#nav a button:hover{
    background-color: lime;
    border-radius: 50px;
}

#form{
    height: 90vh;
    width: 100%;
    background: url(../images/3948.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
#form section{
    width: 400px;
    height: 490px;
    /* border: 20px; */
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.18) ;
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    /* background:linear-gradient(rgb(0, 255, 255) 20%,rgb(226, 234, 12)); */
    /* border-radius: 10px; */
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* box-shadow: 9px 9px 8px gray; */
    


   
}

section h1{
    margin-bottom: 14px;
}
#form section input{
    outline: none;
    border: none;
    padding:7px;
    width:290px;
    border-radius: 30px;
    font-size:medium;
    box-shadow: 3px 3px 2px rgb(55, 50, 50);
    padding-left:19px;


}
#form section input::placeholder{
    color: lime;
}

 #form section label{
    color:black;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 7px;
    font-size: 20px;
}
#form section input{
    margin-top: 6px;
}
#form section input:focus{
    outline: none;
}
#form section button{
    height: 40px;
    width: 130px;
    border: none;
    border-radius: 50px;
    background-color:rgb(177,255,5);
    color: rgb(2,52,48);
    cursor: pointer;
    font-size: large;
    box-shadow: 3px 3px 2px rgb(55, 50, 50);


}
#Home{
    height: 100%;
    width: 100%;
    background: rgb(247,250,252);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
   

}#Home>#head{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid red;
}

#home #cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
    
  
}
#cards{
    height:250px;
    width: 250px;
    /* background-color: rgba(157, 225, 20, 0.7); */
    background-color: rgb(255,255,255);
    border-radius: 10px;
    box-shadow:0px 3px 19px rgba(0, 0,0,.1);
    display: flex;
    /* align-items: ; */
    justify-content: center;
    margin-top: 20px;
    margin-left:4px; 
   border: 2px solid white;
   border-top-color: rgb(128,101,238)   ;
   border-top-width: 5px;


   
    /* flex-direction: row; */
}
#cards:hover{
    transform: scale(1.1);
    transition:all .2s ease-in-out;
}
#cards table td,th{
    padding: 4px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#cards table tr td #edit{
    color:blue;
    font-size:large;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
}
#cards table tr td #edit:hover{
    color:green; 
   border-bottom: 3px solid green;
   padding-bottom: 2px ;
   transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1) ease-out;
   text-shadow: none;

   
}
#cards table #tab button{
    background-color: red;
    height: 25px;
    width: 60px;
    border-radius: 30px;
    color: azure;
    cursor: pointer;
}


@media screen and (max-width:480px){
    #form section{
        width: 330px;
       height: 410px;

    }

    #form section input{
    padding:5px;
    width:230px;
    font-size:15px;
    padding-left:19px;
    margin-top:5px;
    }
    #form section label{
        margin-top:4px;
    }
    #form section button{
        height: 34px;
        width: 110px;
        margin-top:13px;
        font-size:large;
        cursor: pointer;
    }
    #form section h1{
        font-size: 21px;
        margin-top: 14px;
    }
    #form section #update{
        height: 34px;
        width: 110px;
        margin-top:0.5px;
        font-size:medium;
        cursor: pointer;
    }
   


}